@use './variables' as v;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: v.$font-family;
  font-size: v.$font-size;
  color: v.$desaturated-dark-blue;
  background: v.$light-grayish-blue;
}

img {
  display: block;
  width: 100%;
}

h1,
p {
  margin: 0;
  line-height: 1.8;
}
