// Colores.
$very-dark-grayish-blue: hsl(217deg 19% 35%);
$desaturated-dark-blue: hsl(214deg 17% 51%);
$grayish-blue: hsl(212deg 23% 69%);
$light-grayish-blue: hsl(210deg 46% 95%);

// Tipografía.
$font-family: 'Manrope', sans-serif;
$font-size: 1.3rem;

// Dispositivos.
$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
